doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, maximum-scale=1.0')
    title= title
    link(rel='stylesheet', href='/javascripts/semantic/packaged/css/semantic.min.css')
    link(rel='stylesheet', href='/build/css/explore.min.css')
    script(src='http://code.jquery.com/jquery-1.8.2.js')
    script(src='/javascripts/semantic/packaged/javascript/semantic.min.js')
    script(src='/javascripts/explorehandler.js')
  body
    block content