extends default_layout

block content
	#explore_sidebar
		form
			input#search_input(type='text' placeholder='search')
			input#btn_expl_search(type='button' value='go!')
	#navbar
		p(class='nav_title lft_padded') seeder
