extends default_layout

block content
	.ui.menu
		ai#sidebar-toggle.item
			i.reorder.icon
		a.item
			i.home.icon
			| Seeder
		a.item.active
			i.map.icon
			| Explore
		a.item
			i.wrench.icon
			| Build
		.right.menu
			.item
				.ui.icon.input
					input(type="text" placeholder="search...")
					i.search.link.icon
	#explore-sidebar.ui.sidebar
	#graphs-view.ui.stackable.four.items
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description
					| description here
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description
					| description here
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description
					| description here
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description
					| description here
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description
					| description here
	