extends default_layout

block content
	.fixed
		.ui.menu.purple.inverted
			ai#sidebar-toggle.item
				i.reorder.icon
			a.item(href="/")
				i.home.icon
				| Seeder
			a.item.purple.active(href="/explore")
				i.map.icon
				| Explore
			a.item(href="/build")
				i.wrench.icon
				| Build
			.right.compact.menu
				.ui.simple.dropdown.item
					i.user.icon
					|Me
					i.dropdown.icon
					.menu
						a.item
							i.bolt.icon
							|My Profile
						a.item
							i.lightbulb.icon
							|My Graphs
						a.item
							i.settings.icon
							|Settings
						a.item
							i.sign.out.icon
							|Sign Out
						
	#explore-sidebar.ui.floating.sidebar.inverted.red
	
	#explore-banner-contain
		.hideme
			#explore-banner
		#banner-overlay
			#search-header
				.ui.white.icon.huge.header
					i.map.massive.icon
					|Explore
			#explore-searchbar
				.ui.fluid.action.input
					input(type="text" placeholder="find something interesting!")
					.ui.teal.right.labeled.icon.button
						i.search.icon
						|Search


	#graphs-view.ui.stackable.four.items
		.item
			.image
				img(src="http://placehold.it/300x300.png")
			.content
				.name
					|Graph Name
				p.description.smalltext
					| by Amman Vedi
				p.description.graphdesc
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.graphmeta
					.ui.label.purple
						| Views
						a.detail
							| 23
					.ui.label.green
						| Likes
						a.detail
							| 23
		