extends default_layout

block content
	.ui(class=['menu'])
		a.active(class=['item'])
			i.home(class=['icon'])
			| Home
		a.item
			i.mail(class=['icon'])
			| Messages
		.right(class=['menu'])
			.item
				.ui(class=['icon input'])
					input(type="text" placeholder="search...")
					i.search(class=['link icon'])
