extends default_layout

block content
	.ui.menu.purple.inverted
		ai#sidebar-toggle.item
			i.reorder.icon
		a.item
			i.home.icon
			| Seeder
		a.item.purple.active
			i.map.icon
			| Explore
		a.item
			i.wrench.icon
			| Build
		.right.compact.menu
			.ui.simple.dropdown.item
				i.user.icon
				|Me
				i.dropdown.icon
				.menu
					a.item
						i.bolt.icon
						|My Profile
					a.item
						i.lightbulb.icon
						|My Graphs
					a.item
						i.settings.icon
						|Settings
					a.item
						i.sign.out.icon
						|Sign Out
						
	#explore-sidebar.ui.floating.sidebar.inverted.red
	
	#explore-banner-contain
		.hideme
			#home-banner
		#banner-overlay
			

	