extends homelayout

block content
	.fixed-home
		.ui.menu.purple.inverted
			ai#sidebar-toggle.item
				i.reorder.icon
			a.item.purple.active(href="/")
				i.leaf.icon
				img(src="/img/logo-small.png")
			a.item(href="/explore")
				i.map.icon
				| Explore
			a.item(href="/build")
				i.wrench.icon
				| Build
			.ui.simple.dropdown.item
				|More
				i.dropdown.icon
				.menu
					a.item(href="/blog")
						i.book.icon
						|Blog
					a.itema.item(href="/help")
						i.help.icon
						|Help
			.right.compact.menu
				.ui.simple.dropdown.item
					i.user.icon
					|Me
					i.dropdown.icon
					.menu
						a.item
							i.bolt.icon
							|My Profile
						a.item
							i.lightbulb.icon
							|My Graphs
						a.item
							i.settings.icon
							|Settings
						a.item(href="/auth/google")
							i.sign.in.icon
							|Sign In
						
	#explore-sidebar.ui.floating.sidebar.inverted
	
	#home-main-banner
		.home-banner-overlay
			#hometext
				|a new way to <div class="ui text small shape shapetext"><div class="sides"><div class="active ui header side">mindmap</div><div class="ui header side">learn</div><div class="ui header side">reference</div></div></div>
			#home-banner-img-c
				#home-banner-image
	.home-feature.fgreen.vign.macbook-feature
		#home-desc1.floatleft
			.featuretext
				h1 create and explore 
			.featuredesc
				p.tealborder Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
			.ui.orange.button
				i.search.icon
				| Start Searching
		.clear
	.home-feature.fpink.vign.opensource
		#home-desc1.floatright
			.featuretext
				h1 open source
			.featuredesc
				p.greenborder Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
			.ui.orange.github.button
				i.github.icon
				| View Source on Github
		.clear
	.home-feature.fblack.vign
		.ui.stackable.grid
			.four.wide.column
				.minifeature
					.ui.teal.ribbon.label
						|DEVELOP
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					.ui.purple.button
						i.code.icon
						| Learn More
			.four.wide.column
				.minifeature
					.ui.teal.ribbon.label
						|SHARE
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					.ui.purple.button
						i.share.icon
						| Learn More
			.four.wide.column
				.minifeature
					.ui.teal.ribbon.label
						|EXPORT
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					.ui.purple.button
						i.unhide.icon
						| Learn More
			.four.wide.column
				.minifeature
					.ui.teal.ribbon.label
						|COLLABORATE
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
					.ui.purple.button
						i.users.icon
						| Learn More
	.home-feature.fpinks.vign
		#home-desc1.floatmiddle
			.featuretext.center
					h1 Join In.
				.featuredesc
					#explore-searchbar
						.ui.fluid.action.input
							input(type="text" placeholder="some.one@example.com")
							.ui.teal.right.labeled.button
								|notify me
			.clear
			
		
			

	