extends homelayout

block content
	.ui.fixed.menu#mainnav
		ai#sidebar-toggle.item
			i.reorder.icon
		a.item.purple.active(href="/")
			img(src="/img/logo-small.png")
		a.item(href="/explore")
			i.map.icon
			| Explore
		a.item#buildtab(href="/build")
			i.wrench.icon
			| Build
		.ui.simple.dropdown.item#moretab
			|More
			i.dropdown.icon
			.menu
				a.item(href="/blog")
					i.book.icon
					|Blog
				a.itema.item(href="/help")
					i.help.icon
					|Help
		.right.compact.menu#logintab
			.ui.simple.dropdown.item
				i.user.icon
				|#{logintext}
				i.dropdown.icon
				.menu
					a.item
						i.bolt.icon
						|My Profile
					a.item
						i.lightbulb.icon
						|My Graphs
					a.item
						i.settings.icon
						|Settings
					a.item(href="#{signlink}")
						i.sign.in.icon
						|#{signouttext}
						
	#explore-sidebar.ui.floating.sidebar.inverted
	
	#content
		#header
			#headercopy
				h1
					|Deeper <br/> <span id="underlined">Referencing.</span>
				.divider
				p
					|Seeder is a new way to reference, mindmap and learn
				.button
					h2 Start Building
		.about
			h1 about. 
			br 
			p Seeder is the lovechild of mindmapping and the content rich web. Create truly connected maps from your own research, or tap into resources like <a href="http://www.mendeley.com/">Mendeley</a> <br/><br/> <span id="aboutleadout">See what others have created, go <a href="http://www.seeder.co/explore/">Exploring</a></span>
			.aboutimg
		.signup
			#signupcopy
				h1 See it <br/> Our way.
				.signupdivider
				p Sign up to start creating + curating
				br
				.button
					h2 Sign Up
				.button
					h2 Learn More
			

	