extends layout

block content

	nav#menu(class='panel')
		.tool_head
			.tool_head_btn
				h1 Node 
			.tool_content(id='node_information_holder')
		.tool_head
			.tool_head_btn
				h1 search
			.tool_content
				form#frm_searcharticles
					input#input_searcharticles(type='text')
					input#btn_searcharticles(type='button' value='search')
			#search_results_holder
		.tool_head
			.tool_head_btn
				h1 save
			.tool_content
			form#frm_savegraph
				input#btn_savegraph(type='button' value='save graph')


	#contain_main(class='push')
		#navbar(class='push')
			a(class='menu-link' href='#menu') &#9776
			p(class='nav_title') seeder
			
		#pallete
			#tabs
				ul
					li
						a(href='#tabs-1') Add Edge 
					li
						a(href='#tabs-2') Add Node
					li
						a(href='#tabs-3') Edit Node
				br

				#tabs-1
					form
						input#btn_addedge(type='button' value='add edge')
					#add_edge_msg
						p click the button to add an edge
				#tabs-2
					add node information
					form#form_addnode
						input#field_node_xpos(type='number' name='node_xpos' class='input_node_add' placeholder='node x position')
						input#field_node_ypos(type='number' name='node_ypos' placeholder='node y position')
						input#field_node_size(type='number' name='node_size' placeholder='node size')
						input#field_node_id(type='text' name='node_id' placeholder='node id')
						input#field_node_name(type='text' name='node_name' placeholder='node name')
						br
						input#picker_edgecolor(type='color' placeholder='#ffffff')
						br
						input#btn_addnode(type='button' value='add node')
				#tabs-3
					p edit node

		#display_code

			#text_tab

			#graph_tab
				canvas#graph_canvas(width='900px' height='550px')
				