doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/javascripts/semantic/packaged/css/semantic.min.css')
    link(rel='stylesheet', href='/build/css/build.min.css')
    link(rel='stylesheet', href='/stylesheets/note.css')
    script(src='http://code.jquery.com/jquery-1.8.2.js')
    script(src='https://rawgit.com/carhartl/jquery-cookie/master/src/jquery.cookie.js')
    script(src='/javascripts/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/javascripts/semantic/packaged/javascript/semantic.min.js')
    script(src='/javascripts/arbor/arbor-tween.js')
    script(src='/javascripts/arbor/arbor.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/FileSaver.js')
    script(src='/javascripts/sidebarmanager.js')
    script(src='/build/js/article_searcher.min.js')
    script(src='/build/js/rendergraph.min.js')
    script(src='/build/js/note.min.js')
    script(src='/build/js/graphhandler.min.js')
    
  body
    block content