html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
 max-width: 100%;
 min-width: auto;
 overflow: hidden;
 overflow-y: hidden;
 -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  	background-image: url('/img/graphy.png');

	}



.navindex{
	z-index: 1000;
	height: 80px;
	
}

#btn_export{
	
	width: 150px;
}

#explore-sidebar{
	background-color: #262E32;
}

#info-header{
	float: left;
	width: 140px;
	height: 80px;
	
	
}

.smalltext{
	font-size: 12px;
}

.smalltext p{
	
	padding: 0px;
	margin: 0px;
	max-height: 70px;
	margin-bottom: 10px;
	margin-left: 5px;
}


#clear{
	
	clear: both;
	height: 1px;
	width: 100%;
	
}

#info-body{
width: 100%;
height: 100px;
	
	
}

#frm_searcharticles{
	
	width: 100%;
	height: 200px;
	padding-bottom: 10px;
	padding: 0px;
}

#input_searcharticles{
	/*opacity: 0.4;*/
}

#btn_searcharticles{


}

#btn_savegraph{
	
	z-index: 5;
}

#savepanel{
	
	height: 0px;
	max-width: 100%;
	transition:1.5s;
	padding: 10px;
	overflow: hidden;
}

#lastsave{
	
	padding-bottom: 10px;
}
 
#savepanel ul{
	width: 250px;
	padding-top: 15px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
}

#updatelabel{
	
	height: 60px;
	padding-bottom: 10px;
}

#contain_main{
	width: 100%;
	height: 95%;
	overflow: hidden;
}

#pallete{
	width: auto;
	max-width: 700px;
	height: 175px;
	padding: 10px;
	position: absolute;
	z-index: 2000;
box-shadow: 0 0 5px #5a5a5a;
	opacity: 0.9;
	background-color: #ffffff;
}

#pallete li{
	
	width: 20px;
	height: 20px;
	font-size: 9;
}

#pallete-menu {
	width: 150px;
	float: left;
}



.tabwindow{
	
	float: left;
	max-width: 150px;
	min-width: auto;
	margin-left: 20px;
	padding-right: 10px;
}

#btn_addedge{
	margin-left: auto;
	margin-right: auto;
}
#form_addnode{
	
	height: 200px;
}

#form_addnode input{
	float: left;
	width:150px;
}


#BGlayer{
	
	width: 100%;
	height: 100%;
	position: absolute;
	top: -60px;
	left: 250px;
	z-index: -1;
	pointer-events: none;
	opacity: 0.9;
}

#graph_canvas{

	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	vertical-align: bottom;
	z-index: 1000;
	position: absolute;


}

#search_results_holder{
	width: 275px
	background-color: #fff;
overflow-x:hidden;
	transition:2s;
}

#load_more{
	height: auto;
	position:relative;
		padding: 7px;
		-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);

}

#load_more p{
	text-transform: uppercase;
margin-left: auto;
margin-right: auto;
text-align: center;
opacity: 0.6;
	color: black;
		
	font-weight: bold;
	font-size:15px;


}

.search_result{
	width:90%;
	z-index: 0;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 0 9px #a1a1a1;
}

.search_result h1{



}


.result_text{

}

.result_link{


}

.result_title{
	background-color: #564F8A;
	width: 100%;
	height: 60px;
	
}

.search_result img{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: block;
}

#article_dropper{
	position: absolute;
	width:60px;
	height: 60px;
	background-image: url('/img/node-dropper.png');
	z-index: 0;

}

.result_adder{

	cursor: pointer;
}

.result_title h2{
	
   font-weight: 700;
	font-size: 10px;
	margin-left: 5px;
	float: left;
	color: white;
	margin-top: 5px;
	opacity: 0.8;

}





.result_title h1{
	
   font-weight: 700;
	font-size: 12px;
	margin-left: 5px;
	float: left;
	width: 60%;
	margin-top: 10px;
	color: white;
	height: 12px;
	overflow: hidden;
	margin-bottom: 0px;

}

.search_result p{
	
   font-weight: 300;
	font-size: 12px;
	color:#000;
text-overflow:ellipsis;
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	clear: both;
	display: block;
	padding: 3px;
		margin-top: 0px;
	margin-bottom: 10px;
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

#edgebuilder{
	width: 150px;
	height: 150px;
	
}

#edgesource{
	width: 100%;
	height: 20%;
	text-align: center;
	
	
}

#edgedestination{

width: 100%;
height: 20%;

text-align: center;
	
	
}
.errorform{
	border-color: rgba(255, 92, 92, 0.82);
}

.search_result a{
	text-decoration: none;
	
   font-weight: 300;
   font-size: 9px;
}

#node-dropper{
	
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: black;
	position: absolute;
	opacity: 0.5;
	box-shadow: 0 0 5px #5a5a5a;
}

#display_code{

}

/*
new sr 
*/

.sr{
	
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #666089;
}

.sr-right-image{
	
	width: 90px;
	height: 90px;
	float: left;
}

.sr-right-image img{
	
	width: 90px;
	height: 90px;
}

.sr-right-image i{
color: white !important;
position: relative;
top: -145px;
left: 35px;
}

.sr-image-overlay{
	
	position: relative;
	top: -92px;
	background-color: #000;
	opacity: 0.6;
	width: 90px;
	height: 90px;
}

.sr-left-text{
	width: 185px;
	height: 90px;
	float: left;
	
}

.sr-left-text h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	width: 90%;
	height: 30px;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.sr-left-text p{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	margin: 0px;
	font-size: 12px;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	margin-left: 10px;
	width: 150px;
	
}


.sr-article-link{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	margin-left: 10px;
}

.sr-article-link a{
font-size: 10px;
	color: #000;
	opacity: 0.8;
	text-decoration: none;
	font-style: italic;
}