html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
 max-width: 100%;
 min-width: auto;
 overflow: hidden;
 overflow-y: hidden;
 -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  	background-image: url('/img/graphy.png');

	}



.navindex{
	z-index: 1000;
	height: 80px;
	
}

#btn_export{
	
	width: 150px;
}

#explore-sidebar{
	background-color: #262E32;
}

#info-header{
	float: left;
	width: 140px;
	height: 80px;
	
	
}

.smalltext{
	font-size: 12px;
}

.smalltext p{
	
	padding: 0px;
	margin: 0px;
	max-height: 70px;
	margin-bottom: 10px;
	margin-left: 5px;
}


#clear{
	
	clear: both;
	height: 1px;
	width: 100%;
	
}

#info-body{
width: 100%;
height: 100px;
	
	
}

#frm_searcharticles{
	
	width: 100%;
	height: 200px;
	padding-bottom: 10px;
	padding: 0px;
	transition:1s;
	overflow: hidden;
	max-height: 300px;
}

#input_searcharticles{
	/*opacity: 0.4;*/
}

#btn_searcharticles{


}

#btn_savegraph{
	
	z-index: 5;
}

#savepanel{
	
	height: 0px;
	max-width: 100%;
	transition:1.5s;
	padding: 10px;
	overflow: hidden;
}

#lastsave{
	
	padding-bottom: 10px;
}
 
#savepanel ul{
	width: 250px;
	padding-top: 15px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
}

#updatelabel{
	
	height: 60px;
	padding-bottom: 10px;
}

#contain_main{
	width: 100%;
	height: 95%;
	overflow: hidden;
}




#form_addnode{
	
	height: 250px;
	padding-top: 15px;
}

#form_addnode input{
	float: left;
	border-radius: 3px;
	width:210px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #564F8A;
	padding: 5px;
}

#form_addnode select{
	float: left;
	width:225px;
	margin-left: 10px;
	
}


#form_addnode input[type=range]{
	
	width: 110px;
	padding: 0px;
}
#form_addnode input[type=color]{
	
	width: 100px;
	margin-left: 5px;
	padding: 0px;
}

#BGlayer{
	
	width: 100%;
	height: 100%;
	position: absolute;
	top: -60px;
	left: 250px;
	z-index: -1;
	pointer-events: none;
	opacity: 0.9;
}

#graph_canvas{

	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	vertical-align: bottom;
	z-index: 1000;
	position: absolute;


}

#search_results_holder{
	width: 275px
	background-color: #fff;
overflow-x:hidden;
	transition:2s;
}

#load_more{
	height: auto;
	position:relative;
		padding: 7px;
}

#load_more p{
	text-transform: uppercase;
margin-left: auto;
margin-right: auto;
text-align: center;
opacity: 0.6;
	color: black;
		
	font-weight: bold;
	font-size:15px;


}

.search_result{
	width:90%;
	z-index: 0;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 0 9px #a1a1a1;
}

.search_result h1{



}


.result_text{

}

.result_link{


}

.result_title{
	background-color: #564F8A;
	width: 100%;
	height: 60px;
	
}

.search_result img{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: block;
}

#article_dropper{
	position: absolute;
	width:60px;
	height: 60px;
	background-image: url('/img/node-dropper.png');
	z-index: 0;

}

.result_adder{

	cursor: pointer;
}

.result_title h2{
	
   font-weight: 700;
	font-size: 10px;
	margin-left: 5px;
	float: left;
	color: white;
	margin-top: 5px;
	opacity: 0.8;

}





.result_title h1{
	
   font-weight: 700;
	font-size: 12px;
	margin-left: 5px;
	float: left;
	width: 60%;
	margin-top: 10px;
	color: white;
	height: 12px;
	overflow: hidden;
	margin-bottom: 0px;

}

.search_result p{
	
   font-weight: 300;
	font-size: 12px;
	color:#000;
text-overflow:ellipsis;
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	clear: both;
	display: block;
	padding: 3px;
		margin-top: 0px;
	margin-bottom: 10px;
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}


#edgesource{
	width: 100%;
	height: 20%;
	text-align: center;
	
	
}

#edgedestination{

width: 100%;
height: 20%;

text-align: center;
	
	
}
.errorform{
	border-color: rgba(255, 92, 92, 0.82);
}

.search_result a{
	text-decoration: none;
	
   font-weight: 300;
   font-size: 9px;
}

#node-dropper{
	
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: black;
	position: absolute;
	opacity: 0.5;
	box-shadow: 0 0 5px #5a5a5a;
}

#display_code{

}

/*
new sr 
*/

.sr{
	
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #666089;
}

.sr-right-image{
	
	width: 90px;
	height: 90px;
	float: left;
}

.sr-right-image img{
	
	width: 90px;
	height: 90px;
}

.sr-right-image i{
color: white !important;
position: relative;
top: -145px;
left: 35px;
}

.sr-image-overlay{
	
	position: relative;
	top: -92px;
	background-color: #000;
	opacity: 0.6;
	width: 90px;
	height: 90px;
}

.sr-left-text{
	width: 185px;
	height: 90px;
	float: left;
	
}

.sr-left-text h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	width: 90%;
	height: 30px;
	margin: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.sr-left-text p{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	margin: 0px;
	font-size: 12px;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	margin-left: 10px;
	width: 150px;
	
}


.sr-article-link{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	margin-left: 10px;
}

.sr-article-link a{
font-size: 10px;
	color: #000;
	opacity: 0.8;
	text-decoration: none;
	font-style: italic;
}

/*
adding article preview node
*/

.preview-node{
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: absolute;
	background-color: #000;
	overflow: hidden;
	
}
.preview-node img{
	
	width: 70px;
	height: 70px;
}

/*
EDIT - HUD UI ELEMENTS
*/

.delete{
	
	width: 30px;
	height: 30px;
	background-color: #fff;
	position: absolute;
	border-radius: 20px;
	-moz-box-shadow: 0 0 2px black;
	box-shadow: 0 0 2px black;
	color: white;
	z-index: 2000;
}

.deleteinner{
	
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: black;
	display: block;
	margin: 0 auto;
	margin-top: 3px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;

}

/*
PALLETE STYLING
*/


#pallete{
	width:100%;
	height: 175px;
	padding: 0px;
	z-index: 2000;
	margin: 0 auto;
	transition:1s;
	max-height: 300px;
	overflow: hidden;
	
}

#pallete li{
	
	width: 20px;
	height: 20px;
	font-size: 9;
}



#pallete-menu a{
float: left;
text-align: center;
	font-size: 11px;
	cursor: pointer;
	width: 24%;
	padding-top: 7px;
	line-height: 20px;
	border-right: 1px dashed rgba(255, 255, 255, 0.64);
	
	transition:1s;
}

#pallete-menu i{
	
	pointer-events: none;
}

#pallete-menu a:last-of-type{
	
	border: none;
}

#pallete-menu a:first-of-type{
	
	margin-left: 5px;
}



#pallete-menu {
	width: 275px;
	height: 50px;
	margin: 0 auto;
	color: white;
	position: relative;
	background-color: #3c2649;
}

.tabwindow{
	

	width: 250px;
	margin:  0 auto;
}

.active-tab{
text-decoration: underline;
}

.active-tab i{
text-decoration: none;
}


#tabs-1 form{
	
	width: 220px;
	margin: 0 auto;
	padding-bottom: 10px;
}

#btn_addedge{
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

#edgebuilder{
	width: 100%;
	height: 150px;
	
}

#panel-save{
	
	transition:1s;
	padding: 0px;
	max-height: 300px;
	overflow: hidden;
}

#panel-reference{
	transition:1s;
	max-height: 300px;
	overflow: hidden;
	padding: 0px;
}

/*
Sidebar Manager 
*/

.buildgraphsidebarheader{
	
	cursor: pointer;
}

#searchprovider{
	
	width: 40px;
	height: 40px !important;
	margin-left: 10px;
}

/*
smooth the open / icon
*/

.buildgraphsidebarheader .remove{
	transition:1s;
	
	
}

.panel-expanded{
	overflow: hidden;
	max-height: 0px !important;
}

.icon-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
reference information panel
*/

#node-image{
	
	float: left;
	border-radius: 5px;
	border: 2px solid #000;
	margin-top: 10px;
	margin-left: 10px;
}

#info-header{
	
	margin-left: 5px;
	margin-top: 5px;
}

#info-body{
	max-width: 230px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#node-link{
	
	width: 200px;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-decoration: none;
}

#node-link i{
	
	margin-left: 13px;
}

#node-title{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size: 14px;
	width: 170px;
	margin-top: 15px;
	margin-left: 5px;
}

#info-hover-message{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: -webkit-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.71) 0%, #000000 83.6%);
	background-image: -moz-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.71) 0%, #000000 83.6%);
	background-image: -ms-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.71) 0%, #000000 83.6%);
	background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.71) 0%, #000000 83.6%);
}

#info-hover-message h1{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
	text-align: center;
	font-size: 22px;
	width: 80%;
	margin: 80px auto;
	padding: 5px;
	border-radius: 3px;
	border: 1px dashed rgba(255, 255, 255, 0.6);
	font-weight: lighter;
}

#node-domain{
	font-style: italic;
}

