

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;


	}
	
//begin new css

#mainnav{
	
	opacity: 1.0;
	transition:1s;
	-webkit-transition-duration: 1s;
}

#underlined{

}

#content{
	z-index: 1000;
	width: 100%;
	height: 100%;
}

#header{
	
	width: 100%;
	height: 600px;
	background-image: url(/img/main-bg.png);
	background-size: cover;
	background-position: center;
	-moz-box-shadow: inset 0 400px 100px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 400px 100px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}



#headercopy{
	text-align: left;
	max-width: 700px;
	min-width: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-right: 600px;
	padding-left: 50px;
	position: relative;
	 -webkit-transition-duration: 1s;

}

#headercopy p{
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
	font-size: 25px;
	color: white;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
	width: 590px;
	padding-bottom: 5px;
	opacity: 0.9;
	display: inline-block;
}

#headercopy h1{
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  font-weight: bold;
	  font-size: 130px;
	  color: white;
	  line-height: 123px;
	  text-align: left;
	  margin: 0px;
	  padding: 0px;
	  text-shadow: 0 1px 7px rgba(0, 0, 0, 0.67);
}

.divider{
	
	width: 800px;
	height: 6px;
	margin-left: 0px;
	margin-top: 25px;
	background-color: white;
}

.signup{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
	background-image: url(/img/see-it-our-way.png);
	background-size: 110%;
	background-position-x: -100px;
	background-position-y: -100px;
	-moz-box-shadow: inset 0 -200px 149px black;
	box-shadow: inset 0 -200px 149px black;
}


#signupcopy{
	text-align: left;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	position: relative;
	 -webkit-transition-duration: 1s;
	 float: right;

}

#signupcopy p{
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
	font-size: 25px;
	color: white;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
	width: 390px;
	padding-bottom: 5px;
	opacity: 0.9;
	display: inline-block;
}

#signupcopy h1{
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  font-weight: bold;
	  font-size: 130px;
	  color: white;
	  line-height: 123px;
	  text-align: left;
	  margin: 0px;
	  padding: 0px;
	  text-shadow: 0 1px 7px rgba(0, 0, 0, 0.67);
}

.signupdivider{
	
	width: 570px;
	height: 6px;
	margin-left: 0px;
	margin-top: 25px;
	background-color: white;
}


.about{
	
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
	overflow: hidden;

}

.about:after{
	-moz-box-shadow: inset 0 -200px 100px rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 -200px 100px rgba(0, 0, 0, 0.61);
	
}

.about h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  font-weight: bold;
	  font-size: 80px;
	  margin-left: 60px;
	  margin-top: 20px;
	  margin-bottom: 0px;
	  padding: 0px;
	text-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

.about p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px;
	font-weight: lighter;
	margin-left: 60px;
	margin-top: 0px;
	max-width: 560px;
	line-height: 35px;
	
	color: #666666;

}

.about a{
	

	padding: 4px;
	color: #69a0d8;
	margin-top: 10px;
	transition:1s;
	text-decoration: none;
	padding-bottom: 4px;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 2px solid #69a0d8;
}

.about a:hover{

	text-decoration: underline;
	
}

.aboutimg{
	width: 500px;
	height: 400px;
	background-image: url(/img/about-screen.png) ;
	background-repeat: none;
	background-size: cover ;
	position: absolute;
	margin-top: 30px;
	right:  0px;
	top: 0px;
	overflow: hidden;
	
}



.button{
	
	width: 150px;
	height: 40px;
	border: 2px solid rgba(255, 255, 255, 0.67);
	text-align: center;
	margin-top: 20px;
	opacity: 0.8;
	transition:1s;
	cursor: pointer;
	display: inline-block;
	margin-right:10px;
}

.button:hover{
	

	opacity: 1.0;

}

.button h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
	font-size: 20px;
	border-bottom: 2px solid #ffffff;
	display: inline-block;
	color: white;
	position: relative;
	top: -10px;

}
	
	
	
	//old css code


.fixedhome{
	position: fixed;
width: 100%;
min-width: 70%;
	z-index: 10;
	-moz-box-shadow: 0 0 8px black;
	box-shadow: 0 0 8px black;
	background-color: #564F8A;

}

#aboutleadout{
	

}


#explore-sidebar{
	background-color: #262E32;
}

@media (max-device-width : 568px) {

#aboutleadout{
	
	text-align: center;
}

.button{
	width: 130px;
	height: 30px;
	
}

.button h2{
	font-size: 15px;
}

#headercopy{
	margin-top: 0px;
	padding-left: 25px;
}

#headercopy h1{
	
	font-size: 40px;
	line-height: 35px;
}

#headercopy p{
	font-size: 15px;
	min-width:220px ;
	max-width: 220px;
	
}

#header{
	
	height: 350px;
	background-position: centre;
	background-size: cover;
-moz-box-shadow: inset 0 -70px 200px black;
box-shadow: inset 0 -70px 200px black;

}

.divider{
	
	height: 3px;
	margin-top: 15px;
	width: 250px;
}

#button{
	
	
}


#button h2{
	
	
}


.about{
	
	
}


.about h1{
	font-size: 40px;
	margin-top: 20px;
	margin-left: 25px;
	
}

.about p{
	line-height: 30px;
	width: 80%;
	margin-left: 30px;
	font-size: 17px;
}

.about a{
	
	padding-top: 2px;
}

.aboutimg{
display:none;
	
	
}

#buildtab{
display: none;
	
	
}

#moretab{
	display: none;
	
}

#logintab{
	display: none;
	
}

.signup{
	height: 350px;
	background-size: 350%;
	background-position-x: -180px;
	background-position-y: -100px;
	-moz-box-shadow: inset 0 -130px 200px black;
	box-shadow: inset 0 -130px 200px black;
	background-repeat: none;
	

}


#signupcopy{
	text-align: right;
	width: 100%
	padding-top: 100px;
	position: relative;
	 -webkit-transition-duration: 1s;
	 float: right;
	 
	 margin-top: 0px;
	 padding-right: 25px;

}

#signupcopy p{
font-size: 15px;
min-width:220px ;
max-width: 220px;
padding-top: 15px;

}

#signupcopy h1{
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	  font-weight: bold;
	  font-size: 40px;
	  color: white;
	  line-height: 35px;
	  text-align: right;
	  margin: 0px;
	  padding: 0px;
	  text-shadow: 0 1px 7px rgba(0, 0, 0, 0.67);
}

.signupdivider{
	
	width: 200px;
	height: 3px;
	position: absolute;
	right: 25px;
	margin-left: 0px;
	margin-top: 15px;
	background-color: white;
}


}

