.profile-pic-small{
	width: 35px;
	height: 35px;
	border: 1px solid #00B1A9;
	float: left;
	border-radius: 2px;
}

.profile-pic-big{
	width: 90px;
	height: 90px;
	border: 4px solid rgba(0, 0, 0, 0.56);
	float: left;
	border-radius: 4px;
}

html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
 max-width: 100%;
 min-width: auto;
 overflow: hidden;
 overflow-y: scroll;

}

#follow-btn{
	
	width: 90px;
	height: 25px;
	background-color: #A1CF64;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition:1s;
	
}

#follow-btn:hover{
	background-color: #00B1A9;
	
}

#follow-btn i{
	margin-left: 9px;
	margin-top: 7px;
	float: left;
	font-size: 13px;
}

#follow-btn p{
	margin: 0px;
	margin-top: 6px;
	float: left;
	font-size: 11px;
}