.profile-pic-small{
	width: 35px;
	height: 35px;
	border: 1px solid #00B1A9;
	float: left;
	background-image: url('http://lorempixel.com/50/50/');
	border-radius: 2px;
}

html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
 max-width: 100%;
 min-width: auto;
 overflow: hidden;
 overflow-y: scroll;

}

