/*

         dP          dP                dP 
         88          88                88 
.d8888b. 88 .d8888b. 88d888b. .d8888b. 88 
88'  `88 88 88'  `88 88'  `88 88'  `88 88 
88.  .88 88 88.  .88 88.  .88 88.  .88 88 
`8888P88 dP `88888P' 88Y8888' `88888P8 dP 
     .88                                  
 d8888P                                   

sitewide 

*/

#article_dropper{
	position: absolute;
	width:60px;
	height: 60px;
	background-image: url('/img/node-dropper.png');
	z-index: 0;

}

.search_result{
	width:90%;
	z-index: 0;
	height: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 0 9px #a1a1a1;
}

.search_result h1{



}


.result_text{

}

.result_link{


}

.result_title{
	background-color: #564F8A;
	width: 100%;
	height: 60px;
	
}

.search_result img{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: block;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.result_title h2{
	
   font-weight: 700;
	font-size: 10px;
	margin-left: 5px;
	float: left;
	color: white;
	margin-top: 5px;
	opacity: 0.8;

}

.tabwindow{
	
	float: left;
	max-width: 150px;
	min-width: auto;
	margin-left: 20px;
	padding-right: 10px;
}

.result_adder{

	cursor: pointer;
}

.result_title h1{
	
   font-weight: 700;
	font-size: 12px;
	margin-left: 5px;
	float: left;
	width: 60%;
	margin-top: 10px;
	color: white;
	height: 12px;
	overflow: hidden;
	margin-bottom: 0px;

}

.search_result p{
	
   font-weight: 300;
	font-size: 12px;
	color:#000;
text-overflow:ellipsis;
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	clear: both;
	display: block;
	padding: 3px;
		margin-top: 0px;
	margin-bottom: 10px;
	height: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

.search_result a{
	text-decoration: none;
	
   font-weight: 300;
   font-size: 9px;
}

#node_detail_pane{
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
	font-size: 9px;
	overflow: scroll;

}
::-webkit-scrollbar { 
    display: none; 
}



.scroll{
	
	overflow-y: scroll;
}

#search_results_holder{
	width: 100%;
	background-color: #fff;
overflow-x:hidden;
	transition:2s;
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

#load_more{
	width: 100%;
	height: auto;
	position:relative;
		padding: 7px;
		-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);

}

#load_more p{
	text-transform: uppercase;
margin-left: auto;
margin-right: auto;
text-align: center;
opacity: 0.6;
	color: black;
		
	font-weight: bold;
	font-size:15px;


}


html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
 width: 100%;
 overflow: hidden;
 overflow-y: scroll;
}

.lft_padded{
	padding-left: 25px;
}


#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   color: #fff;
   font-size: 23px;
   height: auto;
   margin-top: 0px;
   padding-top: 9px;
   margin-bottom: 0px;
   margin-left: 0px;

   -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;

}

/*

dP                oo dP       dP 
88                   88       88 
88d888b. dP    dP dP 88 .d888b88 
88'  `88 88    88 88 88 88'  `88 
88.  .88 88.  .88 88 88 88.  .88 
88Y8888' `88888P' dP dP `88888P8 

style information for graph builder interface

*/

.menu-link{
	width: auto;
	height: 30px;
	font-size: 25px;
	float: left;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 6px;
	margin-right: 20px; 

}



#menu{
	z-index: 998;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.panel{
	background-color: #413c4a;
	color: #fff;
	width: 200px;
	position: absolute;
	z-index: 998;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
}

a {
	color: #00B7FF;
}

#contain_main{
	width: 100%;
	height: 600px;

	overflow: hidden;
}

.lft_padded{
	padding-left: 25px;
}

.fixednav{
	
	position: fixed;
}

#info-header{
	float: left;
	width: 140px;
	height: 80px;
	
	
}

.smalltext{
	
	font-size: 12px;
}

.graphmeta{
	
	padding-top: 10px;
}


.graphdesc{
	padding-top: 10px;
	max-height: 50px;
	max-width: 90%;
	overflow: hidden;
	
}

.smalltext p{
	
	padding: 0px;
	margin: 0px;
	max-height: 70px;
	margin-bottom: 10px;
	margin-left: 5px;
}

#clear{
	
	clear: both;
	width: 100%;
	
}

#info-body{
width: 100%;
height: 100px;
	
	
}
#pallete{
	width: auto;
	max-width: 350px;
	height: 175px;
	padding: 10px;
	position: absolute;
	z-index: 1000;
/*	padding: 7px;
	background-color:  #413c4a;
	color: #fff;
	float: left;
	
	
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
	border-radius: 6px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;*/
box-shadow: 0 0 5px #5a5a5a;
	opacity: 0.9;
	background-color: #ffffff;
}

#pallete li{
	
	width: 20px;
	height: 20px;
	font-size: 9;
}

/*#pallete li{
	font-size: 10px;
	background-color: #34495E;
	padding: 2px;
}

#pallete ul{
	margin-left: auto;
	margin-right: auto;
	height: 10px; 
	padding: 0px;
	margin : 0px;
}

#pallete p{
	text-decoration: none;
	color: #fff;
	font-weight: 100;

}

#pallete a{
	text-decoration: none;
	color: #fff;
	font-weight: 100;
	font-size: 12px;

}

#form_addnode input{
	float: left;
	width:150px;
}

/*ul{
	list-style: none;
	padding: 0px;
}

#tabs li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}*/

#form_addnode input{
	float: left;
	width:150px;
}

#pallete-menu {
	width: 150px;
	float: left;
}

#display_code_pallete li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

.tool_head{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	
	padding-top:5px;

}

.tool_head_btn{
	background-color: #35323c;
	width: 100%;
	height: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.tool_head_btn h1{
	font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	opacity: 0.8;
	margin-left: 5px;
	margin-top: 10px;
}

.tool_content{

	width: 100%;
	height: 30px;


}


#node_information_holder{
	width: auto;
	height: auto;
	transition:1s;

}

#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	color: #fff;
	font-size: 23px;
   	height: auto;
   	margin-top: 0px;
   	padding-top: 9px;
   	margin-bottom: 0px;
   	margin-left: 0px;
}

#display_code{
	width: 100%;
	height: 600px;
	float:left;
	z-index: 900;
	overflow: hidden;
}

#text_tab{
	height: 100%;
}

#graph_tab{
	height: auto;
	width: 100%;
	
	height: 600px;
	overflow-x: hidden;
}

#graph_canvas{

	margin-left: auto;
	margin-right: auto;
	outline: 4px solid #fff;
	overflow-x: hidden;
	/*box-shadow: 0 5px 30px #000;*/



	
}



#btn_addedge{
	margin-left: auto;
	margin-right: auto;
}

#input_searcharticles{
	/*opacity: 0.4;*/
}

#btn_searcharticles{


}

#frm_searcharticles{
	
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

/*

                           dP                            
                           88                            
.d8888b. dP.  .dP 88d888b. 88 .d8888b. 88d888b. .d8888b. 
88ooood8  `8bd8'  88'  `88 88 88'  `88 88'  `88 88ooood8 
88.  ...  .d88b.  88.  .88 88 88.  .88 88       88.  ... 
`88888P' dP'  `dP 88Y888P' dP `88888P' dP       `88888P' 
                  88                                     
                  dP                                    

style infomation for /explore

*/


#graphs-view{
max-width: 1000px;
min-width: 400px;
margin-left: auto;
margin-right: auto;
padding: 30px;


	
}

#explore-banner-contain
{
	width: 100%;
	height: 430px;
	overflow: hidden;
	margin-top: -17px;
	background-color: #000;
}

.fixed-home{
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 1;
	
}

#explore-banner{
	width: 100%;
	z-index: 999;
	height: 450px;
	background-color: #000;
	background-image: url(/img/space-banner.jpg);
	background-size: cover;
	background-position: center;
	opacity: 1;
	/*transition:0.5s;*/
	 padding-top: 14px;
	overflow: hidden;
	-moz-box-shadow: inset 0 0 15em #000000;  
	 -webkit-box-shadow: inset 0 0 15em #000000;   
	 box-shadow: inset 0 0 15em #000000;
	
}

#home-main-banner{
	width: 100%;
	z-index: 999;
	height: 450px;
	background-color: #000;
	background-image: url(/img/home-banner.jpg);
	background-size: cover;
	background-position: center;
	opacity: 1;
	/*transition:0.5s;*/
	 padding-top: 14px;
	overflow: hidden;
	-moz-box-shadow: inset 0 0 15em #000000;  
	 -webkit-box-shadow: inset 0 0 15em #000000;   
	 box-shadow: inset 0 0 15em #000000;
	
}

#home-banner{
	width: 105%;
	-webkit-filter: blur(2px);
	height: 450px;
	background-color: #000;
	background-image: url(/img/home-banner.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	/*transition:0.5s;*/
	overflow: hidden;
	position: relative;
}

.fixed{
	
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 10;
	margin-top: 16px;
}

#home-banner:after{
	
	-moz-box-shadow: inset 0 0 15em #000000;  
	 -webkit-box-shadow: inset 0 0 15em #000000;   
	 box-shadow: inset 0 0 15em #000000;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 content: "";
	 
}

#banner-overlay{
	width: 700px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -300px;
	max-width: 600px;
	min-width: 200px;
	
}

#home-main-banner:after{
		-moz-box-shadow: inset 0 0 15em #000000;  
		 -webkit-box-shadow: inset 0 0 15em #000000;   
		 box-shadow: inset 0 0 15em #000000;
	
		 z-index: 2;
		 content: "";
	
}

#explore-banner:after{
	
	-moz-box-shadow: inset 0 0 15em #000000;  
	 -webkit-box-shadow: inset 0 0 15em #000000;   
	 box-shadow: inset 0 0 15em #000000;

	 z-index: 2;
	 content: "";
	 
}

.hideme{
	margin: -10px -10px -10px -10px;
	overflow: hidden;
}

.authorname{
	
	
}

#search-header{
	width: 110px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	
}

#explore-searchbar{
	
	max-width: 600px;
	min-width: 100px;
	width: auto;
	height: 80px;
margin-left: auto;
margin-right: auto;
	margin-top: 20px;
	display: block;
	

}

/*#explore-banner:hover{
	-webkit-filter: blur(2px);
	
}*/

.top{
	
	z-index: 0;
}

#explore-sidebar{
	background-color: #262E32;
}

#search_input{
	width: 90%; 
}

.home-banner-overlay{
width: 800px;
height: 800px;
overflow: hidden;

	
	padding-top: 30px;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	
}

#mbookimgholder{
	
	float: left;
	width: 45%;
	height: 100%;
	overflow: visible;
	min-width: 500px;
}

#home-desc1{
	
	width: 45%;
	height: 100%;
	min-width: 150px;
	margin-left: 40px;


}

#macbookimg{
	
	width: 250%;
	height: 500px;
	background-image: url(/img/mb-explore.png);
	background-size: cover;
	overflow: visible;
	position: relative;
	top: -100px;
	right: 200px;
	opacity: 0.9;
	
	
}

.fpink{
	
	background-color: #2ECC71;
}

.fppl{
	
	background-color: #9B59B6;
}

.home-feature{
	
	max-width: 100%;
	min-width: 100px;
	height: 400px;
	overflow: hidden;
	padding: 0px;
	padding-bottom: 20px;
	

}

.opensource{
	
	background-image: url(/img/open-source.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: 11%;
}

#shuffleme{
	
	width: auto;
	height: auto;
}

#hometext{
text-align: center;
	width: 100%;
	font-size: 30px;
	height: 50px;
	font-family: 'Roboto Slab', serif;
	color: white;
	font-weight: 300;
	left: 310px;
	top: 100px;
	opacity: 0.9;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	margin-bottom: -30px;
}

.fblue{
	
background-color: #197FD9;
	
}

.fgreen{
	
	background-color: #00B2AA;
}

.fblack{
	
	background-color: #2C425D;
}

#home-banner-img-c{
	width: 1100px;
	height: 700px;
	overflow: hidden;
	position: relative;
	right:  10%;
	top: -30px;
	opacity: 0.9;
}

#home-banner-image{
width: 950px;
height:400px;

	background-image: url(/img/imac-build.png);
	background-size: cover;
}

.macbook-feature{
	
	background-image: url(/img/mb-explore.png);
	background-size: 1800px;
	background-repeat: no-repeat;
	background-position: -50% 20%;
}

.featuretext{
	
	min-width: 100px;
}

.tealtext{
	
	color: #00B2AA;
}

.featuredesc p{
	font-family: 'Roboto Slab', serif;

		color: white;
		opacity: 0.9;
		font-size: 15px;
		font-weight: 300;
		width: 350px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 14px;
		padding-right: 10px;
		background-color: #262E32;
		opacity: 0.99;
		position: relative;
		border-radius: 3px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.76);
	border-left-style: dashed;
	border-left-width: 3px;
	
}

.tealborder{
	
	border-left-color: #00B2AA;
}

.greenborder{
	
	border-left-color: #2ECC71;
}

.pplborder{
	border-left-color:  #9B59B6;
	
}
.blueborder{
	
	border-left-color: #2C425D;
}

.featuretext h1{
display: inline-block;
font-family: 'Roboto Slab', serif;
margin-top: 50px;

	color: white;
	opacity: 0.9;
	font-size: 25px;
	font-weight: 300;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #262E32;
	opacity: 0.99;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.87);
}

.floatleft{
	
	float: left;
}

.floatright{
	
	float: right;
	margin-right: -5%;
}

