/*

         dP          dP                dP 
         88          88                88 
.d8888b. 88 .d8888b. 88d888b. .d8888b. 88 
88'  `88 88 88'  `88 88'  `88 88'  `88 88 
88.  .88 88 88.  .88 88.  .88 88.  .88 88 
`8888P88 dP `88888P' 88Y8888' `88888P8 dP 
     .88                                  
 d8888P                                   


*/

#article_dropper{
	position: absolute;
	width:80px;
	height: 80px;
	background-color: #fff;
	

}

.search_result{
	width:auto;
	z-index: 0;
	height: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #222;
	margin-left: auto;
	margin-right: auto;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
}


#search_results_holder{
	width: 100%;
	overflow: scroll;
	background-color: #fff;
	transition:1s;
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}


html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
}

.lft_padded{
	padding-left: 25px;
}


#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   color: #fff;
   font-size: 23px;
   height: auto;
   margin-top: 0px;
   padding-top: 9px;
   margin-bottom: 0px;
   margin-left: 0px;

}

/*

dP                oo dP       dP 
88                   88       88 
88d888b. dP    dP dP 88 .d888b88 
88'  `88 88    88 88 88 88'  `88 
88.  .88 88.  .88 88 88 88.  .88 
88Y8888' `88888P' dP dP `88888P8 

*/

.menu-link{
	width: auto;
	height: 30px;
	font-size: 25px;
	float: left;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 6px;
	margin-right: 20px; 

}



#menu{
	z-index: 998;
}

.panel{
	background-color: #413c4a;
	color: #fff;
	width: 200px;
	position: absolute;
	z-index: 998;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
}

a {
	color: #00B7FF;
}

#contain_main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.lft_padded{
	padding-left: 25px;
}

#pallete{
	width: 200px;
	height: 230px;
	padding: 0px;
	background-color:  #413c4a;
	color: #fff;
	float: left;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

#pallete p{
	text-decoration: none;
	color: #fff;
	font-weight: 100;

}

#pallete a{
	text-decoration: none;
	color: #fff;
	font-weight: 100;
	font-size: 12px;

}

#form_addnode input{
	float: left;
	width:150px;
}

ul{
	list-style: none;
	padding: 0px;
}

#tabs li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

#display_code_pallete li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

.tool_head{

}

.tool_head_btn{
	background-color: #35323c;
	width: 100%;
	height: 30px;
	margin-top: 5px;
}

.tool_head_btn h1{
	font-size: 17px;
	margin-top: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
}

.tool_content{

}

#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	color: #fff;
	font-size: 23px;
   	height: auto;
   	margin-top: 0px;
   	padding-top: 9px;
   	margin-bottom: 0px;
   	margin-left: 0px;
}

#display_code{
	width: 100%;
	height: 100%;
	float:left;
	z-index: 2;
	overflow: hidden;
}

#text_tab{
	height: 100%;
}

#graph_tab{
	height: 100%;
	width: 100%;
	background-color: #222;
	position: absolute;
	overflow: hidden;
}

#graph_canvas{
	height: 100%;
	width: 100%;
	background-color: #111;
	position: absolute;
}

/*

                           dP                            
                           88                            
.d8888b. dP.  .dP 88d888b. 88 .d8888b. 88d888b. .d8888b. 
88ooood8  `8bd8'  88'  `88 88 88'  `88 88'  `88 88ooood8 
88.  ...  .d88b.  88.  .88 88 88.  .88 88       88.  ... 
`88888P' dP'  `dP 88Y888P' dP `88888P' dP       `88888P' 
                  88                                     
                  dP                                    



*/

#explore_sidebar{
	width:270px;
	height: 100%;
	z-index: 10;
	position:fixed;
	float: left;
	background-color: #413c4a;
}

#search_input{
	width: 90%; 
}


