/*

         dP          dP                dP 
         88          88                88 
.d8888b. 88 .d8888b. 88d888b. .d8888b. 88 
88'  `88 88 88'  `88 88'  `88 88'  `88 88 
88.  .88 88 88.  .88 88.  .88 88.  .88 88 
`8888P88 dP `88888P' 88Y8888' `88888P8 dP 
     .88                                  
 d8888P                                   

sitewide 

*/

#article_dropper{
	position: absolute;
	width:60px;
	height: 60px;
	background-image: url('/img/node-dropper.png');
	z-index: 0;

}

.search_result{
	width:90%;
	z-index: 0;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
		-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);

}

.search_result h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 700;
	font-size: 10px;
	color: #000;
	float: left;
	width: 70%;
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: block;
	margin-left: 3px;
	text-overflow:ellipsis;
	overflow: hidden;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;


}

.search_result img{
	width: 20%;
	height: 40px;
	float: left;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: block;
}

.search_result h2{

}

.search_result p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 12px;
	color:#000;
text-overflow:ellipsis;
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	clear: both;
	display: block;
	padding: 3px;
		margin-top: 0px;
	margin-bottom: 0px;
	height: 100px;

}

.search_result a{
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 9px;
}

#node_detail_pane{
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
	font-size: 9px;
	overflow: scroll;

}


#search_results_holder{
	width: 100%;
	overflow: scroll;
	background-color: #fff;
	transition:1s;
}

.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}


html{
	height: 100%;
}

	body {
 margin:0px;
 padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 height:100%;
}

.lft_padded{
	padding-left: 25px;
}


#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   color: #fff;
   font-size: 23px;
   height: auto;
   margin-top: 0px;
   padding-top: 9px;
   margin-bottom: 0px;
   margin-left: 0px;

   -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;

}

/*

dP                oo dP       dP 
88                   88       88 
88d888b. dP    dP dP 88 .d888b88 
88'  `88 88    88 88 88 88'  `88 
88.  .88 88.  .88 88 88 88.  .88 
88Y8888' `88888P' dP dP `88888P8 

style information for graph builder interface

*/

.menu-link{
	width: auto;
	height: 30px;
	font-size: 25px;
	float: left;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	margin-left: 15px;
	margin-top: 6px;
	margin-right: 20px; 

}



#menu{
	z-index: 998;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.panel{
	background-color: #413c4a;
	color: #fff;
	width: 200px;
	position: absolute;
	z-index: 998;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
}

a {
	color: #00B7FF;
}

#contain_main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.lft_padded{
	padding-left: 25px;
}

#pallete{
	width: 200px;
	height: auto;
	padding: 7px;
	background-color:  #413c4a;
	color: #fff;
	float: left;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
	border-radius: 6px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#pallete li{
	font-size: 10px;
	background-color: #34495E;
	padding: 2px;
}

#pallete ul{
	margin-left: auto;
	margin-right: auto;
	height: 10px; 
	padding: 0px;
	margin : 0px;
}

#pallete p{
	text-decoration: none;
	color: #fff;
	font-weight: 100;

}

#pallete a{
	text-decoration: none;
	color: #fff;
	font-weight: 100;
	font-size: 12px;

}

#form_addnode input{
	float: left;
	width:150px;
}

ul{
	list-style: none;
	padding: 0px;
}

#tabs li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

#display_code_pallete li{
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

.tool_head{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	
	padding-top:5px;

}

.tool_head_btn{
	background-color: #35323c;
	width: 100%;
	height: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.tool_head_btn h1{
	font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	opacity: 0.8;
	margin-left: 5px;
	margin-top: 10px;
}

.tool_content{

	width: 100%;
	height: auto;


}


#node_information_holder{
	width: auto;
	height: auto;
	transition:1s;

}

#navbar{
	width: 100%;
	height: 50px;
	background-color: #413c4a;
	z-index: 1000;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
	position: fixed;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.nav_title{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
	color: #fff;
	font-size: 23px;
   	height: auto;
   	margin-top: 0px;
   	padding-top: 9px;
   	margin-bottom: 0px;
   	margin-left: 0px;
}

#display_code{
	width: 100%;
	height: 100%;
	float:left;
	z-index: 2;
	overflow: hidden;
}

#text_tab{
	height: 100%;
}

#graph_tab{
	height: 100%;
	width: 100%;
	
	position: absolute;
	overflow: hidden;
}

#graph_canvas{
	height: 85%;
	width: 95%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	outline: 4px solid #fff;
	 box-shadow: 0 5px 30px #000;
	
}

#btn_addedge{
	margin-left: auto;
	margin-right: auto;
}

#input_searcharticles{
	opacity: 0.4;
}

#btn_searcharticles{
	background-color: #fff;
	width: 30px;

}

/*

                           dP                            
                           88                            
.d8888b. dP.  .dP 88d888b. 88 .d8888b. 88d888b. .d8888b. 
88ooood8  `8bd8'  88'  `88 88 88'  `88 88'  `88 88ooood8 
88.  ...  .d88b.  88.  .88 88 88.  .88 88       88.  ... 
`88888P' dP'  `dP 88Y888P' dP `88888P' dP       `88888P' 
                  88                                     
                  dP                                    

style infomation for /explore

*/

#explore_sidebar{
	width:270px;
	height: 100%;
	z-index: 10;
	position:fixed;
	float: left;
	background-color: #413c4a;
}

#search_input{
	width: 90%; 
}


