
.fixed{
	
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 10;
	//margin-top: -14px !important;
	-moz-box-shadow: 0 0 8px black;
	box-shadow: 0 0 8px black;
	background-color: #564F8A;
}

/*

Graph view components

*/

#graphs-view{
width: 770px;
margin-left: auto;
margin-right: auto;
padding: 30px;
}

.graphitm{
	padding: 0px !important;

}


.content{
	padding: 0px !important;
	height: 270px

}


.circholder{
	
	width: auto;
	height: 150px;
	overflow: hidden;
	background-color: rgb(137, 178, 187);
	transition:1s;
	background-size: cover;
	
}

.circholder a {
	
	text-decoration: none;
}


.imagebox{
	
	width: 240px;
	height: 150px;
	position: absolute;
	-moz-box-shadow: inset 0 -50px 150px black;
	box-shadow: inset 0 -50px 150px black;
	background-image: url('http://lorempixel.com/240/150/');
}

.linkbox{
	
	height: 150px;
	width: 30px;
	background-color: #00B1A9;
	opacity: 0.4;
	position: absolute;
	right: 0px;
	transition:1s;
}

.infoholder{
	
	width: 100%;
	height: 100%;
	position: relative;
}

.name{
width: 220px;
	padding-top: 10px;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	color: white;
	font-size: 15px;
	display: inline;
	
	
	line-height: 25px;

	padding: 2px 0px; 
	//width: 400px;
	margin: 20px auto;
	position: absolute;
	bottom: 0;
	
	
	
}

.user-details{
	
	width: 190px;
	height: 40px;
	padding: 10px;
	background-color: rgba(0, 177, 169, 0.54);
	
	
}

.user-details-text{
	
	float: left;
	width: 100px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 10px;
	color: white;
	line-height: 0px;
	margin-left: 5px;
	font-weight: 100;
	
}

//username display on item
.user-details-text h3{
	font-size: 5px !important;
	color: white;
	//override UAS h3 
	font-weight: lighter !important;
}

//date display on item

.user-details-text h4{
	text-transform: uppercase;
	
}

.name span{
	
	background-color: #000;
	  color: #fff; 
	  display: inline;
	  padding: 10px;
	  
	  /* Needs prefixing */
	  box-decoration-break: clone;
	  white-space: nowrap;
	 text-overflow: ellipsis;
}

#clearcirc{
	width: 100%;
	height: 2px;
	clear: both;
}

p.graphdesc{
	
	padding-top: 0px;
	margin-top: 10px;
	height: 50px;
	max-width: 100%;
	overflow: hidden;
	font-family: Georgia, serif;
	color: black;
	opacity: 1.0 ;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	
}


.meta-block{
	
	width: 180px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	
}

.meta-item{
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
}

.meta-heading{

	ont-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 10px;
	width: 100%;
	height: 50%;
	text-transform: uppercase;
	font-weight: bolder;
}

.meta-value{
	height: 40%;
	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.ui.items > .item{
	
	min-height: 100px !important;
	max-width: 240px;
}

.linkbox .icon{
	
color: white;
top: 42%;
left: -5px;
	display: block;
	position: relative;
	z-index: 1000;
}




/*

user page components 

*/



.profile-header-data{
	
	position: relative;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	top: -55%;
}

.profile-header-data h1{
	float: left;
	color: white;
	font-weight: lighter;
	font-size: 14px;
	margin-top: 65px;
	margin-left: 10px;
	display: block;
	width: 100px;
}

.profile-header-location{
	
	width: 100px;
	height: 30px;
	margin-left: 105px;
}

.profile-header-location h2{

width: 100px;
height: 30px;
	color: white;
	font-weight: lighter;
	font-size: 10px;
margin: 0px;
text-align: left;

	
}

.profile-header-location i{
	float: left;
	color: white;
	margin: 0px;
	
}

.profile-header{
	
	width: 100%;
	height: 250px;
	background-color: #fff;
	overflow: hidden;
	padding-top: 40px;
	
}

.profile-banner-img{
	
	width: 100%;
	height: 250px;
	position: relative;

}

.profile-banner-img img{
	width: 100%;
	

}

.profile-shadow{

	position: absolute;
	top: 210px;
	width: 100%;
	height: 80px;
	background-color: #000;
	opacity: 0.6;
}




